.platformLink {
  @apply px-5 py-4 flex flex-col;
}

.platformLinkTitle {
  color: var(--extraLinkColor);
  @apply flex items-center sm:pb-2 text-base md:text-lg;
}

.platformLink:hover {
  color: var(--extraLinkHoverColor);
  background-color: var(--extraLinkBackgroundHoverColor);
}

.platformLink:hover > .platformLinkTitle {
  color: var(--extraLinkHoverColor);
  background-color: var(--extraLinkBackgroundHoverColor);
}

.platformLinkIcon {
  @apply text-2xl mr-2;
}

.platformLinkCustomIcon {
  @apply platformLinkIcon;

  color: var(--extraLinkColor);
}

.platformLinkDescription {
  @apply hidden lg:block;
}
